<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/header %>
    <script src="/javascripts/home.js"></script>
    <!-- Directives -->
    <script src="/javascripts/directives/searchPanelDirective.js"></script>
    <script src="/highcharts/highcharts.js"></script>
    <script src="/highcharts/highcharts-more.js"></script>
    <script src="/highcharts/modules/exporting.js"></script>
</head>

<body>
<div class="container" id="containerApp" ng-app="homeModule">

    <div ng-controller="HomeController" ng-init="getDataForHighChart();">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Save your list <i class="fa fa-telegram" aria-hidden="true"></i>
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" name="reviewForm"
                              ng-submit="reviewForm.$valid && saveList(review)">

                            <!-- rate -->
                            <div class="col-md-12">
                                <label>List Title: </label>
                                <input type="text" ng-model="review.title" placeholder="Enter a name here">
                            </div>

                            <div class="col-md-12">
                                <label for="select-review-id">Review: </label>
                                <select ng-model="review.stars"
                                        class="form-control"
                                        id="select-review-id">
                                    <option>1 star</option>
                                    <option>2 stars</option>
                                    <option>3 stars</option>
                                    <option>4 stars</option>
                                    <option>5 stars</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label>Email: </label>
                                <input placeholder="Enter email" type="email" ng-model="review.author" required/>
                            </div>

                            <div class="col-md-6">
                                <p><b>Stars: {{review.stars}}</b></p>
                                <p><cite>by: {{review.author}}</cite></p>
                            </div>

                            <div class="col-md-12">
                                <p>Email author is {{reviewForm.$valid}}</p>
                                <input class="btn-success" type="submit" value="Submit"/>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Static
                        <i class="fa fa-ravelry" aria-hidden="true"></i>
                    </div>
                    <div class="panel-body">
                        This is just a drill.
                        <i class="fa fa-ravelry" aria-hidden="true"></i>
                        <div ng-repeat="product in products">
                            <div ng-show="product.isAvailable">
                                <label>Name: </label>
                                {{product.name | uppercase}}

                                <label>Price: </label>
                                {{product.price}}

                                <label>Description</label>
                                {{product.description}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end row -->

        <!-- HIGHCHARTS row -->
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">HighCharts</div>
                    <div class="panel-body">
                        <div id="hCharts-container">
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-12">
            <!--<search-movie></search-movie>-->
            <div class="panel panel-default">
                <div class="panel-heading text-center"><i style="padding-right: 20px;" class="fa fa-imdb fa-5x"
                                                          aria-hidden="true"></i></div>
                <div class="panel-body text-center">
                    <form name="searchForm" ng-submit="searchForm.$valid && search(searchTitle)">
                        <label>Search: </label>
                        <input type="text" ng-model="searchTitle" placeholder="Search movie title" required>
                        <input type="submit" value="Search"/>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div ng-repeat="movie in movies | searchFor: searchTitle">
                <div class="col-md-6">
                    <div class="box">
                        <div class="box-content">
                            <h4 class="text-center">{{movie.Title | uppercase}}</h4>
                            <hr/>
                            <img width="300" height="400" ng-src={{movie.Poster}}
                                 alt={{movie.Title}}></img>
                            <p class="text-center"><b>{{movie.Genre}}</b></p>
                            <br/>
                            <p class="text-center"><i>{{movie.imdbID}}</i></p>
                            <br/>
                            <a href="#" class="btn btn-block btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- HomeController -->

    <!-- footer -->
    <!--<% include ../partials/footer %>-->
</div>

<!-- scripts -->
<% include ../partials/scripts %>
</body>
</html>
