<div class="panel panel-default">
    <div class="panel-heading">Search</div>
    <div class="panel-body">
        <label>Search: </label>
        <input type="text" placeholder="Search movie title">
    </div>
</div>